// This SCSS styles will be compiled into the CSS bundle automatically.

/*! purgecss start ignore */

.hb-header-nav {
    .navbar-brand {
        margin-top: -.5rem;
        margin-bottom: -.5rem;
    }

    .hb-header-logo {
        height: 48px;
    }
}

.hb-blog-post-card-img {
    object-fit: contain !important;
}

/*! purgecss end ignore */
